h1 {
    color: rgb(79, 145, 147);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h4 {
    color: rgb(79, 147, 115);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
h5 {
    color: rgb(79, 147, 115);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

#starterDeck {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

#houseDeckContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

#deckContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
#swapContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.card-button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.card-button.clicked {
    background-color: lightgray;
}
.house-card-button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
.house-card-button.clicked {
    background-color: lightgray;
}