h1 {
    color: blue;
}

p {
    font-size: 16px;
    color: green;
}

.card-button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.card-button.clicked {
    background-color: lightgray;
    cursor: not-allowed;
}